################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BusApp/bin
/BusApp/obj
/GettingApiData/bin
/GettingApiData/obj
/packages
/.vs/config
/.vs/BusApp/v15
