@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Public Transport Route Finder</h3>

<p>If you want to travel by public transport but do not know
     which routes best suite your needs then this application is for you.</p>
<p>
    You can search for the routes between your desired pickup and destination points and you can also view the 
    map of a particular route.
</p>
