@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<div class="imagecontact">
    <br/>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3>Application developed at</h3>

    <address>
        School of advance business and comerece<br />
        New muslim town lahore 54000<br />
    
    </address>
    <h3>Application developed by</h3>
    <address>
        <strong>Ali Shah</strong>   <a href="mailto:alishan1@live.com">alishan1@live.com</a><br />
        <strong>Khurram Shahzad</strong> <a href="mailto:khurramshahzad.cs@gmail.com">khurramshahzad.cs@gmail.com</a>
    </address>
</div>
@section Styles {
    <link href="@Url.Content("~/Content/second.css")" rel="stylesheet" type="text/css" />
}

